{% extends "database/base.html" %}
{% block content %}
    <h1>Current Exam: {{ data.code }}</h1>
    <table border="1" width="700">
    <tr>
    <td>Exam Code</td>
    <td>Subject</td>
    <td>Title</td>
    <td>Exam Date</td>
    <td>Exam Time</td>
    <td>Duration</td>
    </tr>

    <tr>
    <td>{{ data.code }}</td>
    <td>
    {{ data.subject }}</td>
    <td>
        {{ data.title }}</td>
    <td>
        {{ data.date}}</td>
    <td>
        {{ data.times }}</td>    
    <td>
        {{ data.duration }}</td> 
    </tr>
    </table>
    <p style="visibility: hidden;"> 
        Hahahahh
    </p> 

    
    {% if user.is_superuser or user.is_staff %}
    <h3>Students Involved:</h3>
    <table border="1" width="700">
        <tr>
        <td>Pupil ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Birthdate</td>
        <td>Access Arrangements</td>
        </tr>

        {% for pupil in pupils %}
        <tr>
        <td>
            {{ pupil.studentid }}</td>
        <td>
            {{ pupil.firstname }}</td>
        <td>
            {{ pupil.lastname }}</td>
        <td>
            {{ pupil.birthdate }}</td>
        <td>
            {{ pupil.accessarrangement }}</td>    
        </tr>
        
        {% endfor %}
    </table>
    {% endif %}

{% endblock content %}